@import "main"
.processBar
    .processBarMain
        left: 50%
        transform: translateX(-50%)

    .content
        position: relative
        button
            color: white
            position: absolute
            right: 0px

.active .bs-stepper-circle
    background-color: $pink !important
            

