//樣式歸0
html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video
    margin: 0
    border: 0
    font-size: 100%
    vertical-align: baseline

body
    line-height: 1

ol, ul
    list-style: none

input
    -webkit-appearance: none
    border-radius: 0s

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/rfs/scss";
//字體
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

@mixin size($width, $height)
    width: $width
    height: $height
    
@mixin circle($width, $height, $color, $top, $left)
    width: $width
    height: $height
    background: $color
    top: $top
    left: $left
    z-index: 1
    border-radius: 100%
    position: absolute
// $linercolor $blue $purple $pink $gray-800 $white
*
    font-family: 'Noto Sans TC', sans-serif
    position: relative

.colorButton
    +size(140px,45px)
    border: solid 1px $blue
    color: $white
    @include font-size(1rem !important)
    border-radius: 50px
    background: $blue
    box-shadow: $blue 0px 3px 15px 0px
    &:hover
        background: $linercolor
        box-shadow: none
        border: solid 0px $blue

body
    +size(100%, 100%)
    position: relative
    //border: solid 1px #000 !important

nav
    background: $linercolor
    color: $white

.footer
    +size(100%, auto)
    background: $pink
    position: relative
    bottom: 0px

.footerWord
    color: $white
    @include font-size(0.8rem !important)

.ShoppingCartIcon
    +size(25px, 25px)


.navbar-light 
    .navbar-nav 
        .nav-link
            color: $white
            &:hover
                color: $blue
                transition: color 1s ease
        a
            &:hover
                border-bottom: solid 2px $blue

.navbar
    .navbar-brand
        @include font-size(1.5rem !important)
        font-weight: 700
        color: $white
        &:hover
            color: $pink
        img
            +size(25px, 25px)
    

.ShowCart
    +size(20%, auto)
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.12)
    z-index: 100
    background: $white
    position: relative
    //right: 5%
    //top: 60px
    display: none
    text-align: right
    .cancelX
        position: relative
        right: 0px

.ShowMyCart
    +size(305px, auto)
    position: absolute
    right: 2%
    z-index: 100
    background: $white
    display: none
    button
        +size(120px, 40px)
        border-radius: 50px
        border: none
        position: relative
        left: 150px
        color: white
        background: $primary
    .item
        +size(100%, 80px)
        position: relative
        img
            +size(55px, auto)
            border-radius: 5px
            margin-top: 10px
            margin-left: 10px
        .songName
            font-weight: 700
            font-size: 16px
            position: absolute
            top: 20px
            left: 30%          
        .bandName
            position: absolute
            font-size: 12px
            bottom: 16px
            left: 30%   
        .price  
            position: absolute
            font-size: 12px
            bottom: 16px
            left: 60%  
        .cancel
            +size(15px, 15px)
            cursor: pointer
            position: absolute
            top: 20px
            right: 5%   



.mainImg
    +size(100%, auto)
    height: 80vh
    background-image: linear-gradient(rgba(158, 130, 186, 0.1), rgba(158, 130, 186, 0.8)), url("../img/mainBanner.jpg")
    background-position: center
    background-repeat: no-repeat
    color: $white
    .container
        position: relative
        top: 50%
        z-index: 100
        h1
            max-width: 250px
            border-top: solid 3px $pink
            padding-top: 20px
        button 
            margin-left: 50px
        @media screen and ( max-width:1006px)
            h1
                margin-left: 10px
            button
                margin: 0px
    @media screen and ( max-width:414px)
        .container
            top: 25%

.circle1
    +circle(25px, 25px ,$blue, 10%, 90%)
.circle2
    +circle(50px, 50px ,$pink, 30%, 60%)
    opacity: 0.5
.circle3
    +circle(70px, 70px, $linercolor, 95%, 10%)
@media screen and ( max-width:414px)
    .circle3
        display: none
        