@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/rfs/scss"

@mixin size($width, $height)
    width: $width
    height: $height

*
   //border: solid 1px red
   
body
    +size(100%, 100%)
    position: relative

.footer
    +size(100%, auto)
    background: $blue
    position: relative
    bottom: 0px

.footerWord
    color: $white
    @include font-size(0.8rem !important)

.ShoppingCartIcon
    +size(25px, 25px)

.title
    @include font-size(2rem !important)

.intro
    @include font-size(1rem !important)

    